div.whats-container section.whats table tr td.text
h2{font-size:35px;line-height:33px}div.whats-container section.whats table tr td.text
p{font-size:16px;line-height:23px}div.multi-site-container section.multi-site table tr td.text
h2{font-size:35px;line-height:33px}div.multi-site-container section.multi-site table tr td.text
h3{font-size:22px;line-height:22px}div.multi-site-container section.multi-site table tr td.text
p{font-size:16px;line-height:23px}div.cms-container section.cms table tr td.text
h2{font-size:35px;line-height:33px}div.cms-container section.cms table tr td.text
h3{font-size:22px;line-height:22px}div.cms-container section.cms table tr td.text
p{font-size:16px;line-height:23px}div.features-container section.features table tr td.text
h2{font-size:35px;line-height:33px}div.features-container section.features table tr td.text
h4{font-size:22px;line-height:18px}div.features-container section.features table tr td.text
p{font-size:16px;line-height:23px}div.modules-container section.modules table tr td.text
h2{font-size:35px;line-height:33px}div.modules-container section.modules table tr td.text
h3{font-size:21px;line-height:22px}div.modules-container section.modules table tr td.text
p{font-size:16px;line-height:23px}div.communication-container section.communication table tr td.text
h2{font-size:35px;line-height:33px}div.communication-container section.communication table tr td.text
h3{font-size:22px;line-height:22px}div.communication-container section.communication table tr td.text
p{font-size:16px;line-height:23px}div.performance-container section.performance table tr td.text
h2{font-size:35px;line-height:33px}div.performance-container section.performance table tr td.text
h3{font-size:22px;line-height:22px}div.performance-container section.performance table tr td.text
p{font-size:16px;line-height:23px}div.ready-to-start-container section.ready-to-start table tr td.text
h2{font-size:34px;line-height:33px}div.ready-to-start-container section.ready-to-start table tr td.text
h3{font-size:22px;line-height:22px}div.ready-to-start-container section.ready-to-start table tr td.text
p{font-size:16px;line-height:23px}